<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>main_L_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1500,879},{80,550}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,550}}</string>
                <key>sourceSize</key>
                <string>{80,550}</string>
            </dict>
            <key>main_L_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{517,149},{550,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{550,200}}</string>
                <key>sourceSize</key>
                <string>{550,200}</string>
            </dict>
            <key>main_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,149},{200,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>main_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,149},{200,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>main_rope.png</key>
            <dict>
                <key>frame</key>
                <string>{{1067,149},{20,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,300}}</string>
                <key>sourceSize</key>
                <string>{20,300}</string>
            </dict>
            <key>new people_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,499},{300,350}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,350}}</string>
                <key>sourceSize</key>
                <string>{300,350}</string>
            </dict>
            <key>new people_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1000,499},{300,350}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,350}}</string>
                <key>sourceSize</key>
                <string>{300,350}</string>
            </dict>
            <key>new_arrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,499},{400,350}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,350}}</string>
                <key>sourceSize</key>
                <string>{400,350}</string>
            </dict>
            <key>new_ballon.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,45},{65,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,65}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>new_ballon_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{387,45},{65,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,65}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>new_ballon_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{517,45},{65,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,65}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>new_ballon_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,45},{65,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,65}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>new_bird.png</key>
            <dict>
                <key>frame</key>
                <string>{{1330,45},{130,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,85}}</string>
                <key>sourceSize</key>
                <string>{130,85}</string>
            </dict>
            <key>new_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{1096,45},{78,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,78}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>new_circle_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{940,45},{78,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,78}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>new_cloud.png</key>
            <dict>
                <key>frame</key>
                <string>{{1141,0},{65,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,45}}</string>
                <key>sourceSize</key>
                <string>{65,45}</string>
            </dict>
            <key>new_cloud_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{881,0},{65,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,45}}</string>
                <key>sourceSize</key>
                <string>{65,45}</string>
            </dict>
            <key>new_cloud_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{946,0},{65,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,45}}</string>
                <key>sourceSize</key>
                <string>{65,45}</string>
            </dict>
            <key>new_fish.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,45},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>new_fish_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,45},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>new_fishing.png</key>
            <dict>
                <key>frame</key>
                <string>{{1018,45},{78,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,78}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>new_fishing_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{1252,45},{78,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,78}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>new_ghost.png</key>
            <dict>
                <key>frame</key>
                <string>{{1174,45},{78,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,78}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>new_glass.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,0},{404,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{404,44}}</string>
                <key>sourceSize</key>
                <string>{404,44}</string>
            </dict>
            <key>new_glass_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{8,0},{404,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{404,44}}</string>
                <key>sourceSize</key>
                <string>{404,44}</string>
            </dict>
            <key>new_home.png</key>
            <dict>
                <key>frame</key>
                <string>{{816,0},{65,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,45}}</string>
                <key>sourceSize</key>
                <string>{65,45}</string>
            </dict>
            <key>new_home_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,45},{65,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,45}}</string>
                <key>sourceSize</key>
                <string>{65,45}</string>
            </dict>
            <key>new_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,499},{300,350}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,350}}</string>
                <key>sourceSize</key>
                <string>{300,350}</string>
            </dict>
            <key>new_light_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1087,149},{300,350}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,350}}</string>
                <key>sourceSize</key>
                <string>{300,350}</string>
            </dict>
            <key>new_light_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{784,45},{78,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,78}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>new_magnet.png</key>
            <dict>
                <key>frame</key>
                <string>{{1401,0},{65,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,45}}</string>
                <key>sourceSize</key>
                <string>{65,45}</string>
            </dict>
            <key>new_magnet_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1206,0},{65,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,45}}</string>
                <key>sourceSize</key>
                <string>{65,45}</string>
            </dict>
            <key>new_magnet_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{1076,0},{65,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,45}}</string>
                <key>sourceSize</key>
                <string>{65,45}</string>
            </dict>
            <key>new_metal.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,45},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>new_play.png</key>
            <dict>
                <key>frame</key>
                <string>{{1011,0},{65,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,45}}</string>
                <key>sourceSize</key>
                <string>{65,45}</string>
            </dict>
            <key>new_play_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{1466,0},{65,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,45}}</string>
                <key>sourceSize</key>
                <string>{65,45}</string>
            </dict>
            <key>new_replay.png</key>
            <dict>
                <key>frame</key>
                <string>{{1271,0},{65,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,45}}</string>
                <key>sourceSize</key>
                <string>{65,45}</string>
            </dict>
            <key>new_replay_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{1336,0},{65,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,45}}</string>
                <key>sourceSize</key>
                <string>{65,45}</string>
            </dict>
            <key>new_rope.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{8,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,20}}</string>
                <key>sourceSize</key>
                <string>{8,20}</string>
            </dict>
            <key>new_start_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{862,45},{78,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,78}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>new_stop.png</key>
            <dict>
                <key>frame</key>
                <string>{{1531,0},{65,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,45}}</string>
                <key>sourceSize</key>
                <string>{65,45}</string>
            </dict>
            <key>new_stop_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,45},{65,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,45}}</string>
                <key>sourceSize</key>
                <string>{65,45}</string>
            </dict>
            <key>new_win.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,45},{78,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,78}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>new_wood.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,45},{62,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,74}}</string>
                <key>sourceSize</key>
                <string>{62,74}</string>
            </dict>
            <key>new_wood_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,45},{62,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,74}}</string>
                <key>sourceSize</key>
                <string>{62,74}</string>
            </dict>
            <key>people_sit_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{900,879},{300,380}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,380}}</string>
                <key>sourceSize</key>
                <string>{300,380}</string>
            </dict>
            <key>people_sit_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,879},{300,380}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,380}}</string>
                <key>sourceSize</key>
                <string>{300,380}</string>
            </dict>
            <key>people_sit_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1200,879},{300,380}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,380}}</string>
                <key>sourceSize</key>
                <string>{300,380}</string>
            </dict>
            <key>people_sit_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,879},{300,380}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,380}}</string>
                <key>sourceSize</key>
                <string>{300,380}</string>
            </dict>
            <key>people_sit_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,879},{300,380}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,380}}</string>
                <key>sourceSize</key>
                <string>{300,380}</string>
            </dict>
            <key>people_sit_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1300,499},{300,380}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,380}}</string>
                <key>sourceSize</key>
                <string>{300,380}</string>
            </dict>
            <key>skip_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1460,45},{117,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,104}}</string>
                <key>sourceSize</key>
                <string>{117,104}</string>
            </dict>
            <key>skip_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,149},{117,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,104}}</string>
                <key>sourceSize</key>
                <string>{117,104}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>new_img.png</string>
            <key>size</key>
            <string>{1600,1429}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:020ad2ed1941f667462f712a0e2dc850:8aa0dd0938c9f169f71d233e257468b8:f4197b687b1e3f0cacab17d2bd3b4e40$</string>
            <key>textureFileName</key>
            <string>new_img.png</string>
        </dict>
    </dict>
</plist>
