<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>new people_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1416},{300,350}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,350}}</string>
                <key>sourceSize</key>
                <string>{300,350}</string>
            </dict>
            <key>new people_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,716},{300,350}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,350}}</string>
                <key>sourceSize</key>
                <string>{300,350}</string>
            </dict>
            <key>new_ballon.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,119},{65,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,65}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>new_ballon_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,184},{65,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,65}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>new_ballon_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,119},{65,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,65}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>new_ballon_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,119},{65,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,65}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>new_bird.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,366},{130,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,85}}</string>
                <key>sourceSize</key>
                <string>{130,85}</string>
            </dict>
            <key>new_circle_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,184},{78,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,78}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>new_cloud.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,184},{65,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,45}}</string>
                <key>sourceSize</key>
                <string>{65,45}</string>
            </dict>
            <key>new_cloud_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,119},{65,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,45}}</string>
                <key>sourceSize</key>
                <string>{65,45}</string>
            </dict>
            <key>new_cloud_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{325,119},{65,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,45}}</string>
                <key>sourceSize</key>
                <string>{65,45}</string>
            </dict>
            <key>new_fish.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,0},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>new_fish_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,0},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>new_fishing.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,184},{78,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,78}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>new_fishing_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,262},{78,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,78}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>new_ghost.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,184},{78,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,78}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>new_glass.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1766},{404,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{404,44}}</string>
                <key>sourceSize</key>
                <string>{404,44}</string>
            </dict>
            <key>new_glass_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1810},{404,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{404,44}}</string>
                <key>sourceSize</key>
                <string>{404,44}</string>
            </dict>
            <key>new_home.png</key>
            <dict>
                <key>frame</key>
                <string>{{389,0},{65,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,45}}</string>
                <key>sourceSize</key>
                <string>{65,45}</string>
            </dict>
            <key>new_home_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,0},{65,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,45}}</string>
                <key>sourceSize</key>
                <string>{65,45}</string>
            </dict>
            <key>new_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,366},{300,350}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,350}}</string>
                <key>sourceSize</key>
                <string>{300,350}</string>
            </dict>
            <key>new_light_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1066},{300,350}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,350}}</string>
                <key>sourceSize</key>
                <string>{300,350}</string>
            </dict>
            <key>new_light_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,262},{78,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,78}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>new_magnet.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,74},{65,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,45}}</string>
                <key>sourceSize</key>
                <string>{65,45}</string>
            </dict>
            <key>new_magnet_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,74},{65,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,45}}</string>
                <key>sourceSize</key>
                <string>{65,45}</string>
            </dict>
            <key>new_magnet_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{325,74},{65,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,45}}</string>
                <key>sourceSize</key>
                <string>{65,45}</string>
            </dict>
            <key>new_metal.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,0},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>new_play.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,119},{65,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,45}}</string>
                <key>sourceSize</key>
                <string>{65,45}</string>
            </dict>
            <key>new_play_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,74},{65,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,45}}</string>
                <key>sourceSize</key>
                <string>{65,45}</string>
            </dict>
            <key>new_replay.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,74},{65,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,45}}</string>
                <key>sourceSize</key>
                <string>{65,45}</string>
            </dict>
            <key>new_replay_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,74},{65,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,45}}</string>
                <key>sourceSize</key>
                <string>{65,45}</string>
            </dict>
            <key>new_rope.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{8,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,20}}</string>
                <key>sourceSize</key>
                <string>{8,20}</string>
            </dict>
            <key>new_start_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,184},{78,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,78}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>new_stop.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,119},{65,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,45}}</string>
                <key>sourceSize</key>
                <string>{65,45}</string>
            </dict>
            <key>new_stop_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,74},{65,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,45}}</string>
                <key>sourceSize</key>
                <string>{65,45}</string>
            </dict>
            <key>new_win.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,262},{78,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,78}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>new_wood.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,0},{62,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,74}}</string>
                <key>sourceSize</key>
                <string>{62,74}</string>
            </dict>
            <key>new_wood_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{8,0},{62,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,74}}</string>
                <key>sourceSize</key>
                <string>{62,74}</string>
            </dict>
            <key>skip_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{351,262},{117,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,104}}</string>
                <key>sourceSize</key>
                <string>{117,104}</string>
            </dict>
            <key>skip_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,262},{117,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,104}}</string>
                <key>sourceSize</key>
                <string>{117,104}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>new_img.png</string>
            <key>size</key>
            <string>{468,1854}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6cc83c724c7bd25a769413bb895e220d:2be8edaa64e39ac6e70d1325a93e4556:f4197b687b1e3f0cacab17d2bd3b4e40$</string>
            <key>textureFileName</key>
            <string>new_img.png</string>
        </dict>
    </dict>
</plist>
